
.about {
    width: 100%;
    height: 20vh;
    background-color: #203E7C;

    h1 {
        color: white;
        align-items: center;
        text-align: center;
        font-size: 40px;
    }

    p {
        text-align: center;
        color: white;
        font-size: 20px;
    }
}


#aboutUs{
    p{
        font-size: 24px;
        font-weight: 600;
        margin-top: 40px;
    }
 
    h1{
        font-size: 28px;
        font-weight: 500;
        color: black;
    }
    h6{
        margin-top: 50px;
        font-weight: 450;
        font-size: 16px;
    }
}
#aboutUs {
    /* Telefon versiyonu */
    @media (max-width: 576px) {
        flex-direction: column;
        p{
            font-size: 24px;
            font-weight: 600;
            margin-top: 40px;
        }
        h1 {
            font-size: 20px;  /* Telefon için başlık boyutunu küçült */
            font-weight: 500;
            color: black;
        }

        h6 {
            margin-top: 30px;  /* Metin arasındaki boşluğu küçült */
            font-weight: 450;
            font-size: 14px;  /* Telefon için metin boyutunu küçült */
        }
    }
}
