header {
    .topHeader{
        .top{
            img{
               width: 18px;
               height: 18px;
                
            }
        }
    }
}
    .top{
        align-items: center;
        text-align: center;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        h1{
            color: white;
            font-size: 14px;
            font-weight: 400;
        }
        i{
            color: white;
            width: 20px;
            height: 20px;
            margin-top: 3px;
            margin-left: 20px;
        }
        img{
            width: 20px;
            height: 20px;
            
        }
       
    
    }
    @media (max-width: 768px) {
        
    


  .topleftHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px; 
  }

  p {
      margin-left: 20px;
      color: white;
  }

  .toprightHeader {
      display: flex;
      align-items: center; 

      a {
          text-decoration: none;
          transition: 0.2s ease-in;
          color: white;
          margin-left: 15px; /* Add some spacing between links */
      }
  }

  .bottomHeader {
      background-color: white;
      width: 100%;
      display: flex;
      flex-direction: column; /* Make it a column for better responsiveness */
      align-items: center; /* Center horizontally */

      .logo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px; /* Add some space below the logo */

          img {
              max-width: 200px; /* Use max-width for better responsiveness */
              max-height: 200px;
              
          }
      }

      .tabmenu {
          display: flex;
          justify-content: center; /* Center the menu horizontally */
        
          ul {
              display: flex;
              list-style: none;

              li {
                  margin-left: 20px;

                  a {
                      text-decoration: none;
                      color: black;
                      
                  }

                  i {
                      margin-left: 5px;
                  }
              }
          }
      }
  }
}

