#services{
    display: flex;
    height: 100vh;
    
    .leftbar{
        li{
            a{
            display: inline-block;
            padding: 12px 16px;
            margin-top: 10px;
            font-weight: 500;
            font-size: 16px;
            color: black;
            text-decoration: none;
            position: relative;
            width: 334px;
            transition: 0.2s ease-in;

                &:hover{
                    background-color:#C6D7FA ;
                    &::after{
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 4px;
                        background-color:#203E7C;
                        left: 0;
                        top:0;
                        transition: 0.2s ease-in;

                    }
                }
        }
        
           
    }
    }
    .rightbar{
        width: 140%;  
        margin-top: 10px;
        h5{
            font-size: 20px;
            font-weight: 500;
        }  
        img{
            margin-top: 20px ;
        }
        h4{
            font-size: 16px;
            font-weight: 400;
            width: 735px;
            margin-top: 20px;
        }
        h1{
            font-size: 16px;
            font-weight: 700;
        }
        h2{
            font-size: 16px;
            font-weight: 400;
        }
        h3{
            font-size: 16px;
            color: #203E7C;
            font-weight: 400;
            width: 735px;
            margin-top: 10px;
        }


    }
}

